#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// / {
//     chosen { zmk,matrix_transform = &default_transform; };
// };

/ {
    /* input config for mouse move mode */

    trackball_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <0 3 6>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <2>;

        // bindings = <&ib_toggle_layer 7>;
    };

    /* input config for snipe mode */

    trackball_snipe_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <10>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <4>;
    };

    /* input config for mouse scroll mode */

    trackball_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <9>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_MISC>;
        y-input-code = <INPUT_REL_WHEEL>;
        y-invert;
        bindings = <&ib_wheel_scaler 1 14>;
    };

    /* define a resolution down scaler only for INPUT_REL_WHEEL */

    ib_wheel_scaler: ib_wheel_scaler {
        compatible = "zmk,input-behavior-scaler";
        #binding-cells = <2>;
        evt-type = <INPUT_EV_REL>;
        input-code = <INPUT_REL_WHEEL>;
    };

    /* adjust cooldown waiting period for mouse key layer after activated */

    ib_toggle_layer: ib_toggle_layer {
        compatible = "zmk,input-behavior-tog-layer";
        #binding-cells = <1>;
        time-to-live-ms = <750>;
    };

    // #define QUERTZ    0
    // #define NUMBERS   1
    // #define NAV-FUN   2
    // #define MAC       3
    // #define MAC-NUM   4
    // #define MAC-NAV   5
    // #define GAME      6
    // #define GAME-NUM  7
    // #define GAME-NAV  8
    // #define SCROLL    9
    // #define SNIPER   10
    // #define FN       11

    combos {
        compatible = "zmk,combos";

        to-WIN {
            bindings = <&to 0>;
            key-positions = <50 51>;
        };

        to-MAC {
            bindings = <&to 0>;
            key-positions = <50 51>;
        };

        to-GAME {
            bindings = <&to 0>;
            key-positions = <47 36>;
        };

        to-FN {
            bindings = <&to 0>;
            key-positions = <41 42>;
        };

        caps_word {
            bindings = <&caps_word>;
            key-positions = <31 28>;
        };

        rh_leftClick {
            bindings = <&mkp LCLK>;
            key-positions = <43 44>;
        };

        rh_rightClick {
            bindings = <&mkp RCLK>;
            key-positions = <44 45>;
        };

        rh_middleClick {
            bindings = <&mkp MCLK>;
            key-positions = <44 45 43>;
        };

        lh_leftClick {
            bindings = <&mkp LCLK>;
            key-positions = <40 39>;
        };

        lh_rightClick {
            bindings = <&mkp RCLK>;
            key-positions = <38 39>;
        };

        lh_middleClick {
            bindings = <&mkp MCLK>;
            key-positions = <38 39 40>;
        };

        CAPZ {
            bindings = <&kp CAPSLOCK>;
            key-positions = <24 25>;
        };
    };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 48 49 50 53 54 51 52 55>;
            hold-trigger-on-release;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <48 49 50 53 54 51 52 55 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 51 52>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp EQUAL       &kp N1   &kp NUMBER_2  &kp NUMBER_3   &kp NUMBER_4  &kp NUMBER_5    &kp N6       &kp N7     &kp N8     &kp N9   &kp N0      &kp MINUS
&kp TAB         &kp Q    &kp W         &kp E          &kp R         &kp T           &kp Y        &kp U      &kp I      &kp O    &kp P       &kp BACKSLASH
&kp ESCAPE      &kp A    &kp S         &kp D          &kp F         &kp G           &kp H        &kp J      &kp K      &kp L    &kp SEMI    &kp APOS
&kp LEFT_SHIFT  &lt 3 Z  &kp X         &kp C          &kp V         &kp B           &kp N        &kp M      &kp COMMA  &kp DOT  &lt 3 FSLH  &kp RSHIFT
                                       &kp BACKSPACE  &kp LCTRL     &kp LALT        &kp RCTRL    &kp SPACE
                                                      &kp DELETE    &lt 1 LGUI      &lt 2 ENTER
            >;
        };

        Lower {
            bindings = <
&kp GRAVE  &kp EXCL  &kp AT        &kp POUND  &kp DLLR   &kp PRCNT    &kp CARET        &kp AMPS         &kp ASTRK        &kp LPAR         &kp RPAR   &kp UNDER
&trans     &trans    &trans        &trans     &trans     &trans       &kp LBKT         &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp RBKT   &trans
&trans     &kp LGUI  &kp LEFT_ALT  &kp LCTRL  &kp LSHFT  &trans       &trans           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp MINUS  &kp EQUAL
&trans     &trans    &trans        &trans     &trans     &trans       &trans           &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp SLASH  &kp DOT
                                   &trans     &trans     &trans       &trans           &trans
                                              &trans     &trans       &kp KP_NUMBER_0
            >;
        };

        Raise {
            bindings = <
&kp F12           &kp F1    &kp F2          &kp F3         &kp F4           &kp F5    &kp F6  &kp F7      &kp F8     &kp F9         &kp F10   &kp F11
&kp K_NEXT        &trans    &trans          &kp UP         &trans           &trans    &trans  &trans      &trans     &trans         &trans    &kp K_VOLUME_UP
&kp K_PLAY_PAUSE  &trans    &kp LEFT_ARROW  &kp DOWN       &kp RIGHT_ARROW  &trans    &trans  &kp RSHIFT  &kp RCTRL  &kp RIGHT_ALT  &kp RGUI  &kp K_MUTE
&kp K_PREV        &kp HOME  &kp PG_UP       &kp PAGE_DOWN  &kp END          &trans    &trans  &trans      &trans     &trans         &trans    &kp K_VOLUME_DOWN
                                            &trans         &trans           &trans    &trans  &trans
                                                           &trans           &trans    &trans
            >;
        };

        Mouse {
            bindings = <
&bootloader  &sys_reset      &trans          &trans     &trans      &trans      &trans    &trans     &trans          &trans           &sys_reset  &bootloader
&trans       &trans          &trans          &trans     &trans      &trans      &trans    &trans     &trans          &trans           &trans      &trans
&trans       &kp LGUI        &kp LALT        &kp LCTRL  &kp LSHIFT  &trans      &trans    &kp RSHFT  &kp RCTRL       &kp RALT         &kp RGUI    &trans
&trans       &msc MOVE_Y(0)  &mmv MOVE_Y(0)  &trans     &trans      &trans      &trans    &trans     &mmv MOVE_X(0)  &msc MOVE_Y(15)  &trans      &trans
                                             &mkp MB2   &mkp MB1    &mkp MB3    &mkp MB3  &mkp MB1
                                                        &trans      &mkp MB2    &mkp MB2
            >;
        };
    };
};
