manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware

    - name: badjeff
      url-base: https://github.com/badjeff

    - name: 280Zo
      url-base: https://github.com/280Zo

  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml

    - name: zmk-pmw3610-driver
      remote: 280Zo
      revision: main

    - name: zmk-split-peripheral-input-relay
      remote: badjeff
      revision: main

    - name: zmk-input-behavior-listener
      remote: badjeff
      revision: main

  self:
    path: config
